body {
	padding: 0; /* Gets rid of the automatic padding */
	margin: 0;	/*	on HTML documents */
	font-family: Lucida Grande, Helvetica, Arial, sans-serif;
	font-size: 12px;
}

#navigation {
  position: fixed;
  top: 0;
  width: 100%;
  color: #ffffff;
  height: 35px;
  text-align: center;
  padding-top: 15px;
  /* Adds shadow to the bottom of the bar */
  -webkit-box-shadow: 0px 0px 8px 0px black;
  -moz-box-shadow: 0px 0px 100px 0px #000000;
  box-shadow: 0px 0px 100px 0px black;
  /* Adds the transparent background */
    
  background: rgba(0,118,245,1); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top, rgba(0,118,245,1), rgba( 73,221,252,1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, rgba(0,118,245,1), rgba( 73,221,252,1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, rgba(0,118,245,1), rgba( 73,221,252,1)w); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top, rgba(0,118,245,1), rgba( 73,221,252,1)); /* Standard syntax */
  color: rgba(244, 1, 1, 0.8);
  border: 2px solid black ;
 
}




#navigation a {
	font-size: 14px;
	padding-left: 15px;
	padding-right: 15px;
	color: black; /* word color */
	text-decoration: none;
    
}

#navigation a:hover {
	color: green;
}

/* This just adds some style to the placeholder text */

#content {
	width: 600px;
	padding-top: 70px;
	padding-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}

#content img {
	padding-top: 20px;
	padding-bottom: 30px;
}

body {
    background-image: url("honeycomb.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
} 

.boxed {
    border: 5px solid black ;
    background-color: #2EB2EC;
    color: black;
    word-wrap: break-word;
    padding-top:  30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
} 

#footer {
    font-style: italic;
    background-color:black;
    position: fixed;
    bottom: 0;
    width: 100%;
    color:blue;
    clear:both;
    text-align: 15% right;

    padding-right:30px;
	margin-right: 30px;
}

/**/
/* The Modal (background) */
.modal {
    text-align: center;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
    
}

/* Modal Content/Box */
.modal-content {
    background-color: black;
    margin: 15% auto ; /* 15% from the top and centered */
    padding: 20px;
    border: 5px solid blue;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* nav bar buttons */
.button {
   border: 1px solid black;
    
   background: #24afff;
   background: -webkit-gradient(linear, left top, left bottom, from(#3ce6e3), to(#24afff));
   background: -webkit-linear-gradient(top, #3ce6e3, #24afff);
   background: -moz-linear-gradient(top, #3ce6e3, #24afff);
   background: -ms-linear-gradient(top, #3ce6e3, #24afff);
   background: -o-linear-gradient(top, #3ce6e3, #24afff);
    
   padding: 6px 12px;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #000000;
   font-size: 15px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border: 20px black;
   background: #409ced;
   color: #000000;
   }
.button:active {
   border: black;
   background: #0eeb75;
   }

.avatar {
	width: 124px;
	height: 132px;
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	background: url(pictures/cb.jpg) no-repeat;
    box-shadow: 0 0 15px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 15px rgba(0, 0, 0, .8);
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-style: inset;
    border-width: 1px;
    
}



